//  Переменные палитра..............................................................
$black: rgba(0, 0, 0, 1);
$white: rgba(255, 255, 255, 1);
$red: #c31e54;

// Переменные шрифта.................................................
$bold: "drukwidecyr-med";
$regular: "ArticulatCF";

@mixin font-face($name, $file, $weight: 400, $style: normal) {
  @font-face {
    font-family: "#{$name}";
    src: local("#{$file}"), url("../fonts/#{$file}.woff2") format("woff2"),
      url("../fonts/#{$file}.woff") format("woff");
    font-weight: $weight;
    font-style: $style;
    font-display: swap;
  }
}

@mixin bg($size: "contain", $position: "center") {
  background-size: #{$size};
  background-position: #{$position};
  background-repeat: no-repeat;
}

@mixin btn_anim($scaleMax: 1.05, $scaleMin: 0.95) {
  transform-origin: center center;
  transition: all ease-out 240ms;

  &:hover {
    transform: scale(#{$scaleMax});
  }

  &:focus {
    outline: transparent;
  }

  &:focus-visible {
    transform: scale(#{$scaleMax}) translateY(-5%);
  }

  &:active {
    transform: scale(#{$scaleMin});
  }
}

@mixin btn_anim($scaleMax: 1.05, $scaleMin: 0.95) {
  text-wrap: nowrap;
  position: relative;
  background: $red;
  border-radius: 72px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
  cursor: pointer;
  @media (max-width: 767px) {
    @media (max-width: 500px) {
      width: 100%;
    }
    span {
      font-size: 2.8rem !important;
      line-height: 2.6rem !important;
    }
  }
  span {
    text-transform: uppercase;
    color: $white;
    font-weight: 700;
    font-size: 2.8rem !important;
    line-height: 2.6rem !important;
    letter-spacing: 0.02em;
    padding: 2.2rem;
    @media (max-width: 1024px) {
      font-size: 2.2rem !important;
      line-height: 2.6rem !important;
      padding: 1.7rem;
      @media (max-width: 500px) {
        font-size: 1.3rem !important;
        line-height: 1.4rem !important;
        padding: 1rem;
      }
    }
  }
  &:hover {
    &::before {
      animation-name: bounce;
      animation-timing-function: ease;
    }
  }
  @keyframes bounce {
    0% {
      transform: translate(-100%, -25%) rotate(10deg);
    }

    100% {
      transform: translate(400%, 0%) rotate(10deg);
    }
  }
  &:before {
    content: "";
    width: 30%;
    height: 200%;
    position: absolute;
    top: 0;
    left: -5px;
    opacity: 0.5;
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.5) 100%
    );
    transform: translate(-100%, -25%) rotate(10deg);
    animation-duration: 1s;
    animation-iteration-count: forwards;
  }

  &:focus {
    outline: transparent;
  }

  &:focus-visible {
    transform: scale(#{$scaleMax}) translateY(-5%);
  }

  &:active {
    transform: scale(#{$scaleMin});
  }
}

@mixin transit($tr: 0.24) {
  transition: all #{$tr}s;
}

@mixin container($max-width: "120rem", $padding: "2rem") {
  width: 100%;
  max-width: #{$max-width};
  padding: 0 #{$padding};
  margin: 0 auto;
}

// миксины текста

@mixin h1 {
  font-size: 16.833rem;
  text-transform: uppercase;
  letter-spacing: 0.16rem;
  @media (max-width: 1024px) {
    font-size: 9rem;
    @media (max-width: 500px) {
      font-size: 3.6rem;
      letter-spacing: 0.1rem;
    }
  }
}

@mixin font($font-size: "1.6rem", $line-height: "2rem") {
  font-size: #{$font-size};
  line-height: #{$line-height};
}
