.career {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  font-size: 3rem;
  font-family: "drukwidecyr-med";
  position: relative;
  .close {
    position: absolute;
    top: 5.9rem;
    right: 4.95rem;
    line-height: 0;
    padding: 0.8rem;
    border: 0.2rem solid $black;
    transition: 0.5s;
    border-radius: 15px;
    &:hover {
      border-color: $red;
    }
    @media (max-width: 1024px) {
      top: 3.3rem;
      right: 0rem;
      @media (max-width: 500px) {
        top: 1.6rem;
        right: 0rem;
      }
    }
    > img {
      width: 6.75rem;
      @media (max-width: 1024px) {
        width: 3.4rem;
        @media (max-width: 500px) {
          width: 2.2rem;
        }
      }
    }
  }
  .career-header {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 31.5rem;
    position: relative;
    @media (max-width: 1024px) {
      padding-top: 39.6rem;
      @media (max-width: 500px) {
        padding-top: 28.9rem;
      }
    }
    .career-header__advantages {
      position: absolute;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      transform: rotate(-90deg);
      top: 6rem;
      left: 14rem;
      @media (max-width: 1024px) {
        top: 3rem;
        left: 18rem;
        @media (max-width: 500px) {
          width: 100%;
          top: 1rem;
          left: 1rem;
        }
      }
      .advantages-item {
        transition: 0.9s;
        width: 42rem;
        &:nth-child(1) {
          transform: rotate(180deg);
          display: flex;
          justify-content: flex-end;
        }
        @media (max-width: 1024px) {
          width: 30rem;
          @media (max-width: 500px) {
            width: 26.5rem;
          }
        }
      }
      .advantages-item-hand {
        transition: 0.9s;
        width: fit-content;
        &:nth-child(1) {
          transform: translate(0px, -5rem) rotate(145deg);
        }
        @media (max-width: 1024px) {
          padding: 0rem 1.6rem;
          margin-bottom: 0.6rem;
          &:nth-child(1) {
            transform: translate(0px, -3.5rem) rotate(145deg);
          }
          @media (max-width: 500px) {
            padding: 0rem 1rem;
            &:nth-child(1) {
              transform: translate(0px, -2.5rem) rotate(145deg);
            }
          }
        }
      }
    }
    .career-header__title {
      width: 100%;
      display: flex;
      flex-direction: column;
      h1 {
        &:nth-child(1) {
          margin-left: 58.4rem;
          @media (max-width: 1024px) {
            margin-left: 0;
          }
        }
        &:nth-child(2) {
          color: $red;
        }
      }
    }
    .career-header__description {
      display: flex;
      max-width: 100%;
      padding: 6rem 0 14rem 0;
      margin-left: 45rem;
      position: relative;
      @media (max-width: 1024px) {
        justify-content: flex-end;
        margin-left: 0rem;
        // width: 100%;
        @media (max-width: 500px) {
          padding: 2rem 0 4.5rem 0;
          min-height: 30.6rem;
        }
      }
      > p {
        width: 49rem;
        @include font(2.6rem, 3.5rem);
        font-family: $regular;
        @media (max-width: 1024px) {
          width: 34.6rem;
          @include font(1.8rem, 2.5rem);
          @media (max-width: 500px) {
            max-width: 49rem;
            width: 100%;
            @include font(1.6rem, 2rem);
          }
        }
      }
      .rotate-block {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 33rem;
        height: 33rem;
        top: -16rem;
        right: 10rem;
        @media (max-width: 1024px) {
          width: 18.2rem;
          height: 18.2rem;
          top: 3rem;
          right: 0;
          left: 0;
          @media (max-width: 500px) {
            width: 13.6rem;
            height: 13.6rem;
            top: 14.6rem;
            left: inherit;
            right: 0;
          }
        }
        #rotate {
          background: url(../img/icons/ofer.svg);
          background-position: 50%;
          background-size: 150%;
          background-repeat: no-repeat;
          position: absolute;
          width: 100%;
          height: 100%;
          -webkit-animation: spin 8s linear infinite;
          -moz-animation: spin 8s linear infinite;
          animation: spin 8s linear infinite;
          border-radius: 50%;
          @-moz-keyframes spin {
            100% {
              -moz-transform: rotate(360deg);
            }
          }
          @-webkit-keyframes spin {
            100% {
              -webkit-transform: rotate(360deg);
            }
          }
          @keyframes spin {
            100% {
              -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
            }
          }
        }
        span {
          font-size: 13.1rem;
          @media (max-width: 1024px) {
            font-size: 7rem;
            @media (max-width: 500px) {
              font-size: 5.2rem;
            }
          }
        }
      }
    }
  }
  .accordion,
  .career-accordion {
    width: 100%;
    display: flex;
    flex-direction: column;
    --bs-accordion-bg: rgba($color: #000000, $alpha: 0);
    .career-accordion_item {
      width: 100%;
      &:nth-child(1) {
        border-top: 3px solid $white;
      }
      .accordion-header {
        background: $black;
        border: none;

        border-bottom: 3px solid $white;
        > button {
          background: $black;
          padding: 5.6rem 13rem 5.6rem 0;
          @include font(7rem, 8.4rem);
          color: $white;
          border: none !important;
          box-shadow: none !important;
          @media (max-width: 1024px) {
            @include font(4rem, 4.8rem);
            padding: 4rem 7rem 4rem 0;
            @media (max-width: 500px) {
              @include font(2rem, 2.4rem);
              padding: 1.7rem 3.5rem 1.8rem 0;
            }
          }
          &::after {
            height: 1rem;
            width: 10.2rem;
            background: $white;
            position: absolute;
            right: 0;
            margin: 0;
            transform: rotate(90deg);
            @media (max-width: 1024px) {
              height: 0.5rem;
              width: 5rem;
              @media (max-width: 500px) {
                height: 0.2rem;
                width: 2.1rem;
              }
            }
          }
          &::before {
            content: "";
            height: 1rem;
            width: 10.2rem;
            background: $white;
            position: absolute;
            right: 0;
            margin: 0;
            @media (max-width: 1024px) {
              height: 0.5rem;
              width: 5rem;
              @media (max-width: 500px) {
                height: 0.2rem;
                width: 2.1rem;
              }
            }
          }
        }
        .open {
          &::after {
            transform: rotate(0deg);
          }
        }
      }
      .accordion-collapse {
        .accordion-body {
          background: $black;
          padding: 7.5rem 0 9.5rem 0;
          width: 100%;
          @media (max-width: 1024px) {
            padding: 6rem 0 7.2rem 0;
            @media (max-width: 500px) {
              padding: 3rem 0 4.5rem 0;
            }
          }
          .accordion-body__top {
            width: 100%;
            display: flex;
            justify-content: flex-start;
            @media (max-width: 500px) {
              flex-direction: column;
            }
            .accordion-body__top-experience {
              width: 45rem;
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              @media (max-width: 1024px) {
                width: 36.8rem;
                padding: 0 1.6rem;
                @media (max-width: 500px) {
                  width: 100%;
                  padding: 0;
                }
              }
              span {
                font-family: $regular;
                &:nth-child(1) {
                  @include font(12.3rem, 12.3rem);
                  @media (max-width: 1024px) {
                    @include font(11rem, 11rem);
                    @media (max-width: 500px) {
                      @include font(5.2rem, 5.2rem);
                    }
                  }
                }
                &:nth-child(2) {
                  @include font(2.3rem, 3.2rem);
                  @media (max-width: 1024px) {
                    @include font(2rem, 2.5rem);
                    @media (max-width: 500px) {
                      @include font(1.6rem, 2rem);
                      margin-bottom: 3rem;
                    }
                  }
                }
              }
            }
            .accordion-body__top-description {
              width: 90rem;
              @media (max-width: 1024px) {
                width: 36.8rem;
                padding: 0 1.6rem;
                @media (max-width: 500px) {
                  width: 100%;
                  padding: 0;
                }
              }
              > p {
                font-family: $regular;
                @include font(3rem, 3.9rem);
                @media (max-width: 1024px) {
                  @include font(2.2rem, 2.8rem);
                  @media (max-width: 500px) {
                    @include font(1.8rem, 2.6rem);
                  }
                }
              }
            }
          }
          .accordion-body__bottom {
            width: 100%;
            margin-top: 10rem;
            .career-nav-tabs {
              width: 90rem;
              margin-left: 45rem;
              border: none;
              display: flex;
              justify-content: flex-start;
              @media (max-width: 1024px) {
                width: 100%;
                margin-left: 0rem;
                @media (max-width: 500px) {
                  @include font(1.8rem, 2.6rem);
                  justify-content: space-between;
                }
              }
              .nav-item {
                width: fit-content;
                margin-right: 10rem;
                @media (max-width: 1024px) {
                  margin-right: 5.5rem;
                  @media (max-width: 500px) {
                    margin-right: 0rem;
                  }
                }
                &:nth-last-child(1) {
                  margin-right: 0;
                }
                button {
                  text-transform: uppercase;
                  @include font(2.2rem, 6.5rem);
                  color: $white !important;
                  border: none;
                  box-shadow: none;
                  padding: 0;
                  @media (max-width: 1024px) {
                    @include font(1.8rem, 2.1rem);
                    padding-bottom: 1rem;
                    @media (max-width: 500px) {
                      @include font(1rem, 1.2rem);
                      padding-bottom: 1rem;
                    }
                  }
                }
                .active {
                  background: $black;
                  border: none;
                  box-shadow: none;
                  position: relative;
                  &::after {
                    content: "";
                    width: 100%;
                    height: 0.4rem;
                    background: $white;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    @media (max-width: 500px) {
                      height: 0.2rem;
                    }
                  }
                }
              }
            }
            .tab-content {
              width: 90rem;
              margin-left: 45rem;
              border: none;
              padding-top: 8rem;
              @media (max-width: 1024px) {
                width: 100%;
                margin-left: 0rem;
                padding-top: 4.7rem;
                @media (max-width: 500px) {
                  padding-top: 3rem;
                }
              }
              .tab-pane {
                width: 100%;
                display: none;
                flex-direction: column;
                .tab-pane-items {
                  width: 100%;
                  display: flex;
                  flex-direction: row;
                  justify-content: space-between;
                  flex-wrap: wrap;
                  .tab-content-item {
                    width: 41.3rem;
                    margin-bottom: 6.8rem;
                    padding-top: 2.5rem;
                    border-top: 1px solid hsla(0, 0%, 40%, 0.6);
                    @media (max-width: 1024px) {
                      width: 31.5rem;
                      margin-bottom: 3.8rem;
                      @media (max-width: 500px) {
                        width: 100%;
                        margin-bottom: 2rem;
                        padding-bottom: 2rem;
                        padding-top: 0;
                        border-top: none;
                        border-bottom: 1px solid hsla(0, 0%, 40%, 0.6);
                      }
                    }
                    > p {
                      font-family: $regular;
                      @include font(2.2rem, 3.2rem);
                      @media (max-width: 1024px) {
                        @include font(1.8rem, 2.5rem);
                        @media (max-width: 500px) {
                          @include font(1.6rem, 2rem);
                        }
                      }
                    }
                  }
                }
              }
              .show {
                display: flex;
              }
              a {
                @include btn_anim;
                margin-top: 10px;
                text-transform: uppercase;
                > span {
                  position: relative;
                  padding-left: 5.1rem;
                  @media (max-width: 1024px) {
                    padding-left: 4.1rem;
                    @media (max-width: 500px) {
                      padding-left: 2.6rem;
                    }
                  }
                  &::after {
                    content: "";
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    left: -2.1rem;
                    width: 3rem;
                    height: 2.4rem;
                    background-image: url(../img/icons/letter.svg);
                    background-position: 50%;
                    background-repeat: no-repeat;
                    background-size: cover;
                    @media (max-width: 1024px) {
                      left: -1.6rem;
                      width: 2.5rem;
                      height: 2rem;
                      @media (max-width: 500px) {
                        left: -1rem;
                        width: 1.58rem;
                        height: 1.26rem;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .career-footer {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 12rem 0 12rem;
    @media (max-width: 1024px) {
      padding: 15rem 0 10.8rem;
      flex-direction: column;
      @media (max-width: 500px) {
        padding: 7rem 0 10.8rem;
      }
    }
    .career-footer__arrow {
      width: 75rem;
      height: 47rem;
      position: relative;
      overflow: hidden;
      @media (max-width: 1024px) {
        width: 70rem;
        height: 57rem;
        @media (max-width: 500px) {
          width: 28.8rem;
          height: 24rem;
        }
      }
      .arrow-block {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: -100%;
        padding: 2rem;
        transition: 0.9s;
        @media (max-width: 1024px) {
          padding: 0;
        }
        .advantages-item {
          @media (max-width: 500px) {
            padding: 0 0.8rem;
          }
          &:nth-child(1) {
            transform: translate(28rem, -3rem) rotate(45deg);
            @media (max-width: 1024px) {
              transform: translate(31rem, -4rem) rotate(45deg);
              @media (max-width: 500px) {
                transform: translate(13rem, 0rem) rotate(45deg);
              }
            }
          }
          &:nth-child(3) {
            transform: translate(25rem, 1rem) rotate(145deg);
            @media (max-width: 1024px) {
              transform: translate(28rem, 1rem) rotate(145deg);
              @media (max-width: 500px) {
                transform: translate(11rem, 0rem) rotate(145deg);
              }
            }
          }
          > span {
            @media (max-width: 1024px) {
              @include font(2.68rem, 7.8rem);
              @media (max-width: 500px) {
                @include font(1.1rem, 3.1rem);
              }
            }
          }
        }
      }
    }
    .career-footer__description {
      width: 105rem;
      display: flex;
      justify-content: flex-start;
      @media (max-width: 1024px) {
        width: 70rem;
        @media (max-width: 500px) {
          width: 28.8rem;
        }
      }
      p {
        font-family: $bold;
        @include font(3.5rem, 4.9rem);
        max-width: 80rem;
        @media (max-width: 1024px) {
          @include font(2.5rem, 3.5rem);
          @media (max-width: 500px) {
            @include font(1.8rem, 2.5rem);
          }
        }
      }
      a {
        color: $white;
        position: relative;
        &::after {
          content: "";
          width: 100%;
          height: 3px;
          background: $white;
          position: absolute;
          bottom: -0.9rem;
          left: 0;
          transition: 0.2s;
          @media (max-width: 500px) {
            height: 2px;
          }
        }
        &:hover {
          &::after {
            background: $red;
          }
        }
      }
    }
  }
}
