.modal-dialog {
  max-width: 100rem;
  margin-top: 30rem;
  border-radius: 10px;
  overflow: hidden;
  border: 0.3rem solid $red;
  box-shadow: 0.4rem 0.4rem 10rem 10rem rgba(255, 255, 255, 0.5);
  .modal-content {
    background: $black;

    .modal-body {
      padding: 2rem;
      p {
        text-align: center;
        @include font(6rem, 6.5rem);
        font-family: $regular;
        @media (max-width: 1024px) {
          width: 34.6rem;
          @include font(4.8rem, 5rem);
          @media (max-width: 500px) {
            max-width: 49rem;
            width: 100%;
            @include font(3.2rem, 3.6rem);
          }
        }
      }
    }
  }
  .btn-secondary {
    @include btn_anim;
    margin: 2rem;
  }
}
