*,
*::before,
*::after {
  box-sizing: border-box;
}

.flex {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.--just-space {
  justify-content: space-between;
}

.--just-center {
  justify-content: center;
}

.--just-end {
  justify-content: flex-end;
}

.--align-str {
  align-items: stretch;
}

.--align-center {
  align-items: center;
}

.--align-end {
  align-items: flex-end;
}

.--dir-col {
  flex-direction: column;
}

html {
  font-size: calc(100vw / 1920 * 10);
  @media (max-width: 1024px) {
    font-size: calc(100vw / 768 * 10);
    @media (max-width: 500px) {
      font-size: calc(100vw / 320 * 10);
    }
  }
}

html,
body {
  height: 100%;
  position: relative;
  background: $black;
}

body {
  font-size: 1rem;
  display: flex;
  justify-content: center;
  .main {
    max-width: 192rem;
    width: 100%;
    padding: 0rem 6rem;
    display: flex;
    height: 100%;
    @media (max-width: 1024px) {
      padding: 0rem 3.3rem;
      @media (max-width: 500px) {
        padding: 0rem 1.6rem;
      }
    }
  }
}

span,
ul,
ol,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: $white;
}

a {
  text-decoration: none;
}

@media (max-width: 1024px) {
  @media (max-width: 500px) {
  }
}

button {
  cursor: pointer !important;
}

.close {
  background: rgba($color: #000000, $alpha: 0);
  border: none;
  padding: 0;
  width: fit-content;
  height: fit-content;
  z-index: 10;
}

h1 {
  @include h1;
}

.advantages-item {
  display: flex;
  align-items: center;
  width: fit-content;
  padding: 0rem 2.5rem;
  border: 3px solid $red;
  border-radius: 88px;
  margin-bottom: 1.6rem;
  > span {
    font-size: 2.28rem;
    line-height: 6.7rem;
    text-transform: uppercase;
    @media (max-width: 1024px) {
      font-size: 1.6rem;
      line-height: 5.1rem;
      @media (max-width: 500px) {
        font-size: 1.1rem;
        line-height: 3.1rem;
      }
    }
  }
}
