<section class="career">
    <button class="close" type="button" data-bs-target="#exampleModal" data-bs-toggle="modal">
        <img src="./img/icons/close.svg" alt="">
    </button>
    <div class="career-header">
        <div class="career-header__advantages">
            <div class="advantages-item "><span>Удаленка</span></div>
            <div class="advantages-item "><span>Высокая зарплата</span></div>
            <div class="advantages-item "><span>Обучение</span></div>
            <div class="advantages-item "><span>Вечеринки</span></div>
            <div class="advantages-item "><span>Сильная команда</span></div>
        </div>
        <div class="career-header__title">
            <h1>Карьера </h1>
            <h1>в articul</h1>
        </div>
        <div class="career-header__description">
            <div class="rotate-block"><span id="rotate"></span><span>4</span></div>
            <p>Мы верим, что каждый вновь приходящий обогащает нашу жизнь,
                привносит свои идеи, свои смыслы, свое
                настроение, свою уникальность</p>
        </div>
    </div>
    <div class="accordion accordion-flush career-accordion" id="accordionFlushExample">
        <div class="accordion-item career-accordion_item">
            <h2 class="accordion-header" id="flush-headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    Middle web designer
                </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse " aria-labelledby="flush-headingOne"
                data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <div class="accordion-body__top">
                        <div class="accordion-body__top-experience">
                            <span>>6</span>
                            <span>лет опыта</span>
                        </div>
                        <div class="accordion-body__top-description">
                            <p>Самостоятельный дизайнер с отличной насмотренностью, который способен без помощи
                                арт-директора решать как базовые дизайн-задачи так и сложные (дизайн лендингов, подач,
                                презентаций и тд.)</p>
                        </div>
                    </div>
                    <div class="accordion-body__bottom">
                        <ul class="nav nav-tabs career-nav-tabs " id="myTab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="requirements-tab" data-bs-toggle="tab"
                                    data-bs-target="#requirements" type="button" role="tab" aria-controls="requirements"
                                    aria-selected="true">Требования</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="responsibilities-tab" data-bs-toggle="tab"
                                    data-bs-target="#responsibilities" type="button" role="tab"
                                    aria-controls="responsibilities" aria-selected="false">Обязанности</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="stack-tab" data-bs-toggle="tab" data-bs-target="#stack"
                                    type="button" role="tab" aria-controls="stack" aria-selected="false">Стек</button>
                            </li>
                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="requirements" role="tabpanel"
                                aria-labelledby="requirements-tab">
                                <div class="tab-pane-items">
                                    <div class="tab-content-item">
                                        <p>Опыт работы в сфере графики и веба: 6–9 лет и выше.</p>
                                    </div>
                                    <div class="tab-content-item">
                                        <p>Умение при необходимости самостоятельно взаимодействовать в коммуникации с
                                            подрядчиком.</p>
                                    </div>
                                    <div class="tab-content-item">
                                        <p>Понимание проектирования взаимодействия и создания информационной архитектуры
                                            проекта</p>
                                    </div>
                                    <div class="tab-content-item">
                                        <p>Сильное портфолио с кейсами в сфере корпоративного/информационного веба</p>
                                    </div>
                                    <div class="tab-content-item">
                                        <p>Умение декомпозировать задачи, организовывать и синхронизировать командную
                                            работу
                                            с другими дизайнерами</p>
                                    </div>
                                    <div class="tab-content-item">
                                        <p>Умение быстро подобрать нужные референсы из топовых работ в сфере веба и
                                            использовать их в работе</p>
                                    </div>
                                    <div class="tab-content-item">
                                        <p>Ответственность, желание развиваться, обучаемость, перфекционизм, любовь к
                                            деталям и минимализму</p>
                                    </div>
                                </div>
                                <a href=""><span>Откликнуться</span></a>
                            </div>
                            <div class="tab-pane fade" id="responsibilities" role="tabpanel"
                                aria-labelledby="responsibilities-tab">
                                <div class="tab-pane-items">
                                    <div class="tab-content-item">
                                        <p>Обязанности 1</p>
                                    </div>
                                    <div class="tab-content-item">
                                        <p>Обязанности 2</p>
                                    </div>
                                    <div class="tab-content-item">
                                        <p>Обязанности 3</p>
                                    </div>
                                    <div class="tab-content-item">
                                        <p>Обязанности 4</p>
                                    </div>
                                    <div class="tab-content-item">
                                        <p>Обязанности 5</p>
                                    </div>
                                </div>
                                <a href=""><span>Откликнуться</span></a>
                            </div>
                            <div class="tab-pane fade" id="stack" role="tabpanel" aria-labelledby="stack-tab">
                                <div class="tab-pane-items">
                                    <div class="tab-content-item">
                                        <p>Стек 1 Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium
                                            mollitia harum nostrum itaque magnam. </p>
                                    </div>
                                    <div class="tab-content-item">
                                        <p>Стек 2 Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium
                                            mollitia harum nostrum itaque magnam.</p>
                                    </div>
                                    <div class="tab-content-item">
                                        <p>Стек 3 Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium
                                            mollitia harum nostrum itaque magnam.</p>
                                    </div>
                                    <div class="tab-content-item">
                                        <p>Стек 4 Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium
                                            mollitia harum nostrum itaque magnam.</p>
                                    </div>
                                    <div class="tab-content-item">
                                        <p>Стек 5 Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium
                                            mollitia harum nostrum itaque magnam.</p>
                                    </div>
                                </div>
                                <a href=""><span>Откликнуться</span></a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="accordion-item career-accordion_item">
            <h2 class="accordion-header" id="flush-headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                    Системный аналитик
                </button>
            </h2>
            <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
                data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <div class="accordion-body__top">
                        <div class="accordion-body__top-experience">
                            <span>>6</span>
                            <span>лет опыта</span>
                        </div>
                        <div class="accordion-body__top-description">
                            <p>Самостоятельный дизайнер с отличной насмотренностью, который способен без помощи
                                арт-директора решать как базовые дизайн-задачи так и сложные (дизайн лендингов, подач,
                                презентаций и тд.)</p>
                        </div>
                    </div>
                    <div class="accordion-body__bottom">
                        <ul class="nav nav-tabs career-nav-tabs " id="myTab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="requirements_2-tab" data-bs-toggle="tab"
                                    data-bs-target="#requirements_2" type="button" role="tab"
                                    aria-controls="requirements_2" aria-selected="true">Требования</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="responsibilities_2-tab" data-bs-toggle="tab"
                                    data-bs-target="#responsibilities_2" type="button" role="tab"
                                    aria-controls="responsibilities_2" aria-selected="false">Обязанности</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="stack_2-tab" data-bs-toggle="tab" data-bs-target="#stack_2"
                                    type="button" role="tab" aria-controls="stack_2" aria-selected="false">Стек</button>
                            </li>
                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="requirements_2" role="tabpanel"
                                aria-labelledby="requirements_2-tab">
                                <div class="tab-pane-items">
                                    <div class="tab-content-item">
                                        <p>Опыт работы в сфере графики и веба: 6–9 лет и выше.</p>
                                    </div>
                                    <div class="tab-content-item">
                                        <p>Умение при необходимости самостоятельно взаимодействовать в коммуникации с
                                            подрядчиком.</p>
                                    </div>
                                    <div class="tab-content-item">
                                        <p>Понимание проектирования взаимодействия и создания информационной архитектуры
                                            проекта</p>
                                    </div>
                                    <div class="tab-content-item">
                                        <p>Сильное портфолио с кейсами в сфере корпоративного/информационного веба</p>
                                    </div>
                                    <div class="tab-content-item">
                                        <p>Умение декомпозировать задачи, организовывать и синхронизировать командную
                                            работу
                                            с другими дизайнерами</p>
                                    </div>
                                    <div class="tab-content-item">
                                        <p>Умение быстро подобрать нужные референсы из топовых работ в сфере веба и
                                            использовать их в работе</p>
                                    </div>
                                    <div class="tab-content-item">
                                        <p>Ответственность, желание развиваться, обучаемость, перфекционизм, любовь к
                                            деталям и минимализму</p>
                                    </div>
                                </div>
                                <a href=""><span>Откликнуться</span></a>
                            </div>
                            <div class="tab-pane fade" id="responsibilities_2" role="tabpanel"
                                aria-labelledby="responsibilities_2-tab">
                                <div class="tab-pane-items">
                                    <div class="tab-content-item">
                                        <p>Обязанности 1</p>
                                    </div>
                                    <div class="tab-content-item">
                                        <p>Обязанности 2</p>
                                    </div>
                                    <div class="tab-content-item">
                                        <p>Обязанности 3</p>
                                    </div>
                                    <div class="tab-content-item">
                                        <p>Обязанности 4</p>
                                    </div>
                                    <div class="tab-content-item">
                                        <p>Обязанности 5</p>
                                    </div>
                                </div>
                                <a href=""><span>Откликнуться</span></a>
                            </div>
                            <div class="tab-pane fade" id="stack_2" role="tabpanel" aria-labelledby="stack_2-tab">
                                <div class="tab-pane-items">
                                    <div class="tab-content-item">
                                        <p>Стек 1 Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium
                                            mollitia harum nostrum itaque magnam. </p>
                                    </div>
                                    <div class="tab-content-item">
                                        <p>Стек 2 Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium
                                            mollitia harum nostrum itaque magnam.</p>
                                    </div>
                                    <div class="tab-content-item">
                                        <p>Стек 3 Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium
                                            mollitia harum nostrum itaque magnam.</p>
                                    </div>
                                    <div class="tab-content-item">
                                        <p>Стек 4 Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium
                                            mollitia harum nostrum itaque magnam.</p>
                                    </div>
                                    <div class="tab-content-item">
                                        <p>Стек 5 Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium
                                            mollitia harum nostrum itaque magnam.</p>
                                    </div>
                                </div>
                                <a href=""><span>Откликнуться</span></a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="accordion-item career-accordion_item">
            <h2 class="accordion-header" id="flush-headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                    IT sales manager
                </button>
            </h2>
            <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
                data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <div class="accordion-body__top">
                        <div class="accordion-body__top-experience">
                            <span>>6</span>
                            <span>лет опыта</span>
                        </div>
                        <div class="accordion-body__top-description">
                            <p>Самостоятельный дизайнер с отличной насмотренностью, который способен без помощи
                                арт-директора решать как базовые дизайн-задачи так и сложные (дизайн лендингов, подач,
                                презентаций и тд.)</p>
                        </div>
                    </div>
                    <div class="accordion-body__bottom">
                        <ul class="nav nav-tabs career-nav-tabs " id="myTab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="requirements_3-tab" data-bs-toggle="tab"
                                    data-bs-target="#requirements_3" type="button" role="tab"
                                    aria-controls="requirements_3" aria-selected="true">Требования</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="responsibilities_3-tab" data-bs-toggle="tab"
                                    data-bs-target="#responsibilities_3" type="button" role="tab"
                                    aria-controls="responsibilities_3" aria-selected="false">Обязанности</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="stack_3-tab" data-bs-toggle="tab" data-bs-target="#stack_3"
                                    type="button" role="tab" aria-controls="stack_3" aria-selected="false">Стек</button>
                            </li>
                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="requirements_3" role="tabpanel"
                                aria-labelledby="requirements_3-tab">
                                <div class="tab-pane-items">
                                    <div class="tab-content-item">
                                        <p>Опыт работы в сфере графики и веба: 6–9 лет и выше.</p>
                                    </div>
                                    <div class="tab-content-item">
                                        <p>Умение при необходимости самостоятельно взаимодействовать в коммуникации с
                                            подрядчиком.</p>
                                    </div>
                                    <div class="tab-content-item">
                                        <p>Понимание проектирования взаимодействия и создания информационной архитектуры
                                            проекта</p>
                                    </div>
                                    <div class="tab-content-item">
                                        <p>Сильное портфолио с кейсами в сфере корпоративного/информационного веба</p>
                                    </div>
                                    <div class="tab-content-item">
                                        <p>Умение декомпозировать задачи, организовывать и синхронизировать командную
                                            работу
                                            с другими дизайнерами</p>
                                    </div>
                                    <div class="tab-content-item">
                                        <p>Умение быстро подобрать нужные референсы из топовых работ в сфере веба и
                                            использовать их в работе</p>
                                    </div>
                                    <div class="tab-content-item">
                                        <p>Ответственность, желание развиваться, обучаемость, перфекционизм, любовь к
                                            деталям и минимализму</p>
                                    </div>
                                </div>
                                <a href=""><span>Откликнуться</span></a>
                            </div>
                            <div class="tab-pane fade" id="responsibilities_3" role="tabpanel"
                                aria-labelledby="responsibilities_3-tab">
                                <div class="tab-pane-items">
                                    <div class="tab-content-item">
                                        <p>Обязанности 1</p>
                                    </div>
                                    <div class="tab-content-item">
                                        <p>Обязанности 2</p>
                                    </div>
                                    <div class="tab-content-item">
                                        <p>Обязанности 3</p>
                                    </div>
                                    <div class="tab-content-item">
                                        <p>Обязанности 4</p>
                                    </div>
                                    <div class="tab-content-item">
                                        <p>Обязанности 5</p>
                                    </div>
                                </div>
                                <a href=""><span>Откликнуться</span></a>
                            </div>
                            <div class="tab-pane fade" id="stack_3" role="tabpanel" aria-labelledby="stack_3-tab">
                                <div class="tab-pane-items">
                                    <div class="tab-content-item">
                                        <p>Стек 1 Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium
                                            mollitia harum nostrum itaque magnam. </p>
                                    </div>
                                    <div class="tab-content-item">
                                        <p>Стек 2 Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium
                                            mollitia harum nostrum itaque magnam.</p>
                                    </div>
                                    <div class="tab-content-item">
                                        <p>Стек 3 Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium
                                            mollitia harum nostrum itaque magnam.</p>
                                    </div>
                                    <div class="tab-content-item">
                                        <p>Стек 4 Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium
                                            mollitia harum nostrum itaque magnam.</p>
                                    </div>
                                    <div class="tab-content-item">
                                        <p>Стек 5 Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium
                                            mollitia harum nostrum itaque magnam.</p>
                                    </div>
                                </div>
                                <a href=""><span>Откликнуться</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item career-accordion_item">
            <h2 class="accordion-header" id="flush-headingFour">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                    Head of marketing & PR
                </button>
            </h2>
            <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour"
                data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <div class="accordion-body__top">
                        <div class="accordion-body__top-experience">
                            <span>>6</span>
                            <span>лет опыта</span>
                        </div>
                        <div class="accordion-body__top-description">
                            <p>Самостоятельный дизайнер с отличной насмотренностью, который способен без помощи
                                арт-директора решать как базовые дизайн-задачи так и сложные (дизайн лендингов, подач,
                                презентаций и тд.)</p>
                        </div>
                    </div>
                    <div class="accordion-body__bottom">
                        <ul class="nav nav-tabs career-nav-tabs " id="myTab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="requirements_4-tab" data-bs-toggle="tab"
                                    data-bs-target="#requirements_4" type="button" role="tab"
                                    aria-controls="requirements_4" aria-selected="true">Требования</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="responsibilities_4-tab" data-bs-toggle="tab"
                                    data-bs-target="#responsibilities_4" type="button" role="tab"
                                    aria-controls="responsibilities_4" aria-selected="false">Обязанности</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="stack_4-tab" data-bs-toggle="tab" data-bs-target="#stack_4"
                                    type="button" role="tab" aria-controls="stack_4" aria-selected="false">Стек</button>
                            </li>
                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="requirements_4" role="tabpanel"
                                aria-labelledby="requirements_4-tab">
                                <div class="tab-pane-items">
                                    <div class="tab-content-item">
                                        <p>Опыт работы в сфере графики и веба: 6–9 лет и выше.</p>
                                    </div>
                                    <div class="tab-content-item">
                                        <p>Умение при необходимости самостоятельно взаимодействовать в коммуникации с
                                            подрядчиком.</p>
                                    </div>
                                    <div class="tab-content-item">
                                        <p>Понимание проектирования взаимодействия и создания информационной архитектуры
                                            проекта</p>
                                    </div>
                                    <div class="tab-content-item">
                                        <p>Сильное портфолио с кейсами в сфере корпоративного/информационного веба</p>
                                    </div>
                                    <div class="tab-content-item">
                                        <p>Умение декомпозировать задачи, организовывать и синхронизировать командную
                                            работу
                                            с другими дизайнерами</p>
                                    </div>
                                    <div class="tab-content-item">
                                        <p>Умение быстро подобрать нужные референсы из топовых работ в сфере веба и
                                            использовать их в работе</p>
                                    </div>
                                    <div class="tab-content-item">
                                        <p>Ответственность, желание развиваться, обучаемость, перфекционизм, любовь к
                                            деталям и минимализму</p>
                                    </div>
                                </div>
                                <a href=""><span>Откликнуться</span></a>
                            </div>
                            <div class="tab-pane fade" id="responsibilities_4" role="tabpanel"
                                aria-labelledby="responsibilities_4-tab">
                                <div class="tab-pane-items">
                                    <div class="tab-content-item">
                                        <p>Обязанности 1</p>
                                    </div>
                                    <div class="tab-content-item">
                                        <p>Обязанности 2</p>
                                    </div>
                                    <div class="tab-content-item">
                                        <p>Обязанности 3</p>
                                    </div>
                                    <div class="tab-content-item">
                                        <p>Обязанности 4</p>
                                    </div>
                                    <div class="tab-content-item">
                                        <p>Обязанности 5</p>
                                    </div>
                                </div>
                                <a href=""><span>Откликнуться</span></a>
                            </div>
                            <div class="tab-pane fade" id="stack_4" role="tabpanel" aria-labelledby="stack_4-tab">
                                <div class="tab-pane-items">
                                    <div class="tab-content-item">
                                        <p>Стек 1 Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium
                                            mollitia harum nostrum itaque magnam. </p>
                                    </div>
                                    <div class="tab-content-item">
                                        <p>Стек 2 Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium
                                            mollitia harum nostrum itaque magnam.</p>
                                    </div>
                                    <div class="tab-content-item">
                                        <p>Стек 3 Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium
                                            mollitia harum nostrum itaque magnam.</p>
                                    </div>
                                    <div class="tab-content-item">
                                        <p>Стек 4 Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium
                                            mollitia harum nostrum itaque magnam.</p>
                                    </div>
                                    <div class="tab-content-item">
                                        <p>Стек 5 Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium
                                            mollitia harum nostrum itaque magnam.</p>
                                    </div>
                                </div>
                                <a href=""><span>Откликнуться</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="career-footer">
        <div class="career-footer__arrow">
            <div class="arrow-block">
                <div class="advantages-item"><span>просто вы</span></div>
                <div class="advantages-item"><span>Я точно нужен вам,</span></div>
                <div class="advantages-item"><span>пока Не знаете</span></div>
            </div>
        </div>
        <div class="career-footer__description">
            <p>Если вы хотите стать частью нашей команды,
                но не нашли подходящую вакансию в списке выше, то <a href="">напишите нам</a> </p>
        </div>
    </div>
</section>